body {
  font-family: "Abril Fatface";
  background-color: #1B1B1B;
  color: white;
  overflow-y: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

body::-webkit-scrollbar {
  display:none;
}

.headline {
  height: 100vh;
  font-size: 6rem;
  line-height: 1;
  /* display: none; */
}

.link {
  position: fixed;
  top: 100px;
  right: 10px;
  list-style: none;
  width: 40px;
  text-align: center;
}

a {
  color: white;
  font-size: 0.8rem;
  text-decoration: none;
}

a:hover  {
  opacity: 0.6;
}

.page {
  position: relative;
  height: 100vh;
  font-size: 5rem;
  font-style: italic;
  /* display: flex;
  flex-wrap: wrap; */
  /* justify-content: flex-start; */
}

.target {
  position: absolute;
  top: 300px;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  font-size: 1.6rem;
  font-weight: bold;
  background-repeat: no-repeat;
  background-size: cover;
  min-width: 200px;
  min-height: 200px;
}

.target0 {
  left: 100px;
}

.target1 {
  left: 310px;
}

.target2 {
  left: 520px;
}

.target3 {
  left: 730px;
}

.target4 {
  left: 940px;
}

.target5 {
  top: 510px;
  left: 100px;
}

.target6 {
  top: 510px;
  left: 310px;
}

.target7 {
  top: 510px;
  left: 520px;
}

.target8 {
  top: 510px;
  left: 730px;
}

.target9 {
  top: 510px;
  left: 940px;
}

.i {
  font-style: italic;
}

@media screen and (max-width: 500px) {
  .headline{
    font-size: 5rem;
  }
  .link {
    display: none;
  }
  .page {
    height: 160vh;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: flex-start;
  }
  .page .target {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
    position: relative;
    top: auto;
    left: auto;
    min-width: 160px;
    min-height: 160px;
    max-width: 160px;
    max-height: 160px;
    margin: 0 10px 10px 0;
  }
  .page span {
    width: 100%;
    margin-top: 20px;
  }
}
